@import url(./_colors.scss);
@mixin reset {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: $main-white;
    }

    *html {
        scroll-behavior: smooth;
    }

    *img{
        width: 100%;
        height: 100%;
    }
    
    *li {
        list-style: none;
    }

    main {
        width: 100%;
        height: 100%;
    }

    h2{
        background-color: $main-green;
        text-align: justify;
        padding: 0.5rem;
        margin: 0;
        border-top: 5px solid #4f7fb1;
    
    }

    /* mobile */
    .imagen{
        border: 3px solid $main-green;
        position: relative;
        width: 20rem;
        height: 13rem;
        margin: 1rem;
        p{
            position: absolute;
            font-size: 2rem;
            background-color: $main-bk-font;
            color: azure;
        }
    }

}

@mixin links {
    a:hover{
        color: #3d3d3d;
    }

    a:active{
        color: darksalmon;
    }
    
}

@mixin imageSize($width, $height) {
    width: $width;
    height: $height;
}
