@import '../variables/_main.scss';
@include reset;

/* Mobile */
@media screen and (min-width: 320px) {
    .centrar{
        margin: auto;
        max-width: 90rem;
        border-right: 5px groove rgba(182,182,182,0.61);
        border-left: 5px ridge rgba(182,182,182,0.61);
    }

    header{
        background-color: $main-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        .imagen{
            width: 6rem;
            height: 3rem;
        }

        .icon-mobile{
            width: 2rem;
            height: 2rem;
        }
        
        nav{
            display: none;
        }
    }

    .banner{
        background-color: $main-green;
        h1{
            margin: 0; 
            padding: 1rem;
            text-align: center;
            background-color: $main-green;
        }

        .contenedor{
            position: relative;
        }

        p{
            font-size: 15px;
            position: absolute;
            background-color: $main-bk-font;
            color: azure;
            bottom: 25%;
        }
    }

    .destinos{
        .cont-destinos{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .populares{
   
        .cont-populares{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .paises{
    
        ul{
            padding: 0;
            li{
                display: contents;
                list-style: none;
                a{
                    color: rgb(94, 94, 94);
                }

                &:after{
                    content: '/ ';
                    color: rgb(94, 94, 94);
                }
            }
        }
    }

    .registro{
        h2{
            margin: 0;
        }
        .cont-registro{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #e6dcbd;
            p{
                margin: 0;
                background-color: #e6dcbd;
            }
            #formulario{
                padding: 1rem;
                text-align: center;
                border-radius: 10px;
                border: 5px solid #ff6550;
                background-color: #e6dcbd;
                label{

                background-color: #e6dcbd;
                }
            }
        }
    }
    .redes{

        background-color: $main-green;
        
        ul{
            display: flex;
            justify-content:space-around;
            padding: 0px;
            background-color: $main-green;
            margin: 0;
            li{
                background-color: $main-green;
            }
        }
    
        .fa {
            padding: 20px;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
        }
    
        .fa-facebook {
            background: #3B5998;
            color: white;
            border-radius: 50%;
        }
        
        .fa-twitter {
            background: #55ACEE;
            color: white;
            border-radius: 50%;
        }
    
        .fa-instagram {
            background: #c13584;
            color: white;
            border-radius: 50%;
        }
    }
}