@import '../variables/_main.scss';
@include reset;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
/* Mobile */
@media screen and (min-width: 320px) {

    .centrar{
        margin: auto;
        max-width: 90rem;
        border-right: 5px groove rgba(182,182,182,0.61);
        border-left: 5px ridge rgba(182,182,182,0.61);
        font-family: 'Open Sans', sans-serif;
    }

    header{
        background-color: $main-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;
        .imagen{
            @include imageSize(7rem , 3rem);
        }

        .icon-mobile{
            @include imageSize(2rem, 2rem);
        }
        
        nav{
            display: none;

        }
    }

    .banner{
        background-color: $main-green;
        h1{
            font-family: 'PT Serif', serif;
            margin: 0; 
            padding: 1rem;
            text-align: center;
            background-color: $main-green;
        }

        .contenedor{
            position: relative;
        }

        p{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 15px;
            position: absolute;
            background-color: $main-bk-font;
            color: rgb(255, 255, 255);
            bottom: 25%;
        }
    }

    .destinos{
        .cont-destinos{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .populares{
   
        .cont-populares{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }

    .paises{
    
        ul{
            padding: 0;
            li{
                display: contents;
                list-style: none;
                a{
                    color: rgb(94, 94, 94);
                }

                &:after{
                    content: '/ ';
                    color: rgb(94, 94, 94);
                }
            }
        }
    }

    .registro{
        h2{
            margin: 0;
        }
        .cont-registro{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #e6dcbd;
            p{
                margin: 0;
                background-color: #e6dcbd;
            }
            #formulario{
                padding: 1rem;
                margin: 1rem;
                text-align: center;
                border-radius: 10px;
                border: 5px solid #ff6550;
                background-color: #e6dcbd;
                label{

                background-color: #e6dcbd;
                }
            }
        }
    }
    .redes{
        padding: .5rem ;
        background-color: $main-green;

        .cont-redes{
            display: flex;
            flex-wrap: wrap;
            max-width: 30rem;
            background-color: $main-green;
            justify-content: center;
            align-content: center;
            margin: auto;
            .soc-media{
                display: flex;
                justify-content:space-around;
                padding: .5px;
                background-color: $main-green;
                
                width: auto;
                li{
                    background-color: $main-green;
                    @include imageSize(4rem, 4rem);
                    margin: .5rem;
                }
            }
        
            .fa {
                padding: 27%;
                @include imageSize( 100%, 100%);
                font-size: 30px;
                text-align: center;
                text-decoration: none;
            }
        
            .fa-facebook {
                background: #3B5998;
                color: white;
                border-radius: 50%;
            }
            
            .fa-twitter {
                background: #55ACEE;
                color: white;
                border-radius: 50%;
            }
        
            .fa-instagram {
                background: #c13584;
                color: white;
                border-radius: 50%;
            }
        }
        .contacto{
            margin: 0;
            padding: 1rem;
            width: fit-content;
            background-color: $main-green;

            p{
                background-color: $main-green;
            }

            li{
                background-color: $main-green;
            }

            :nth-child(2){
                display: flex;
                background-color: $main-green;
                p{
                    margin: 1px;
                }
            }

        }

    }
}

/* desktop */
@media screen and (min-width: 1024px) {
    header{
        .btn-group-mobile{
            display: none;
            padding: 1rem;
        }

        nav{
            display: block;
            @include links;
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                background-color: $main-gray;
                li{
                    padding: 1rem;
                    background-color: $main-gray;
                    a{
                        text-decoration: none;
                        color: black;
                        background-color: $main-gray;
                    }
                }
            }
        }
    }

    .banner{
        p{
            font-size: 25px;
            position: absolute;
            background-color: #7f98909e;
            color: azure;
            bottom: 40%;
        }
    }

    .redes{
        .cont-redes{
            max-width: 60rem;
            justify-content: space-between;
            .soc-media{
                justify-content: center;
                width: auto;
                li{
                    margin: 1rem;
                }
            }
        }

    }
}