@import url(./_colors.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ececec;
}

html {
  scroll-behavior: smooth;
}

* img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

main {
  width: 100%;
  height: 100%;
}

h2 {
  background-color: #73ada2;
  text-align: justify;
  padding: 0.5rem;
  margin: 0;
  border-top: 5px solid #4f7fb1;
}

/* mobile */
.imagen {
  border: 3px solid #73ada2;
  position: relative;
  width: 20rem;
  height: 13rem;
  margin: 1rem;
}
.imagen p {
  position: absolute;
  font-size: 2rem;
  background-color: #7f98909e;
  color: azure;
}

/* Mobile */
@media screen and (min-width: 320px) {
  .centrar {
    margin: auto;
    max-width: 90rem;
    border-right: 5px groove rgba(182, 182, 182, 0.61);
    border-left: 5px ridge rgba(182, 182, 182, 0.61);
  }

  header {
    background-color: #b3b3b3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  header .imagen {
    width: 6rem;
    height: 3rem;
  }
  header .icon-mobile {
    width: 2rem;
    height: 2rem;
  }
  header nav {
    display: none;
  }

  .banner {
    background-color: #73ada2;
  }
  .banner h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: #73ada2;
  }
  .banner .contenedor {
    position: relative;
  }
  .banner p {
    font-size: 15px;
    position: absolute;
    background-color: #7f98909e;
    color: azure;
    bottom: 25%;
  }

  .destinos .cont-destinos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .populares .cont-populares {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .paises ul {
    padding: 0;
  }
  .paises ul li {
    display: contents;
    list-style: none;
  }
  .paises ul li a {
    color: #5e5e5e;
  }
  .paises ul li:after {
    content: "/ ";
    color: #5e5e5e;
  }

  .registro h2 {
    margin: 0;
  }
  .registro .cont-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6dcbd;
  }
  .registro .cont-registro p {
    margin: 0;
    background-color: #e6dcbd;
  }
  .registro .cont-registro #formulario {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    border: 5px solid #ff6550;
    background-color: #e6dcbd;
  }
  .registro .cont-registro #formulario label {
    background-color: #e6dcbd;
  }

  .redes {
    background-color: #73ada2;
  }
  .redes ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    background-color: #73ada2;
    margin: 0;
  }
  .redes ul li {
    background-color: #73ada2;
  }
  .redes .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .redes .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
  }
  .redes .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
  }
  .redes .fa-instagram {
    background: #c13584;
    color: white;
    border-radius: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
